.form_popup {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #141613eb;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    &_container {
        position: fixed;
        background-color: #fff;
        width: 60vw;
        height: 41vw;
        margin: 0 auto;
        left: 50%;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4rem;
        overflow: hidden;
        @include respond-below(xs) {
            overflow: scroll;
            height: 80vh;
            width: 95vw;
            border-radius: 2rem;
        }
        &_wrapper {
            &_side_1 {
                background-image: url('../assets/curver.svg');
                height: 88vh;
                width: 57%;
                background-size: 100%;
                background-repeat: no-repeat;
                position: absolute;
                background-position: -1rem -1rem;
                z-index: -1000;
                border-radius: 4rem;
                overflow: hidden;
                @include respond-below(xs) {
                    display: none;
                }
                &_img {
                    top: 1rem !important;
                    height: 100vh !important;
                    max-height: 20vh !important;
                    min-height: 100vh !important;
                    min-width: 60vh !important;
                    z-index: -1;
                    left: -5rem !important;
                }
            }
            &_side_2 {
                width: 59%;
                float: right;
                height: 88vh;
                border-top-right-radius: 4rem;
                border-bottom-right-radius: 4rem;
                @include respond-below(xs) {
                    width: 100%;
                    float: none;
                    height: 100vh;
                    border-top-right-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                }
                &_hello {
                    display: block;
                    margin: 1rem 8rem;
                    font-size: 1.7rem;
                    font-family: 'Montserrat-Regular';
                    color: #1d89bd;
                    font-weight: 700;
                    @include respond-below(xs) {
                        margin: 1rem auto;
                        text-align: center;
                    }
                    &1 {
                        display: block;
                        margin: 1rem 8rem;
                        font-size: 1.7rem;
                        font-family: 'Montserrat-Regular';
                        color: #1d89bd;
                        font-weight: 700;
                        @include respond-below(xs) {
                            margin: 1rem auto;
                            text-align: center;
                        }
                    }
                }
                &_form {
                    position: relative;
                    margin: 5rem 3.6rem;
                    width: 100%;
                    @include respond-below(xs) {
                        margin: 5rem auto;
                    }
                    &_form_container {
                        position: relative;
                        display: inline-block;
                        width: 40%;
                        @include respond-below(xs) {
                            width: 90%;
                        }
                    }
                }
                &_label {
                    position: absolute;
                    margin: -0.3rem 1.5rem;
                    font-size: 1.2rem;
                    font-weight: 600;
                    font-family: 'Montserrat-Regular';
                    color: #1d89bd;
                    @include respond-below(xs) {
                        margin: -0.3rem 2.4rem;
                    }
                }
                &_input,
                &_select {
                    width: 95%;
                    margin: 2rem 1rem;
                    border-radius: 2rem;
                    border: 1.7px solid #1d89bd;
                    padding: 0.75rem 1rem;
                    background-color: #fff;
                    outline: none;
                    color: #1d89bd;
                    font-size: 1.1rem;
                    @include respond-below(xs) {
                        margin: 2rem 2rem;
                        padding: 0.95rem 1rem;
                    }
                }
                & .first {
                    margin-left: -1.3rem;
                }
                & label.first {
                    margin-left: -1rem;
                }
                & .last {
                    margin-left: 4rem;
                    width: 50%;
                }
                & label.last {
                    margin: -0.3rem 4.3rem;
                }
                &_select {
                    width: 95%;
                    margin: 2rem 1rem;
                    @include respond-below(xs) {
                        margin: 2rem 2rem;
                    }
                }
                &_btn {
                    display: block;
                    margin-left: 3rem;
                    width: 79%;
                    border: navajowhite;
                    background-color: #1d89bd;
                    padding: 1.2rem;
                    border-radius: 3rem;
                    color: #fff;
                    font-family: 'Montserrat-Regular';
                    outline: none;
                    font-size: 1.2rem;
                    position: relative;
                    top: 1rem;
                }
            }
            &_footer {
                color: #79797a;
                width: 75%;
                margin-left: 7rem;
                @include respond-below(xs) {
                    width: 80%;
                    margin-left: 3rem;
                }
            }
            &_sub {
                position: fixed;
                height: 88vh;
                width: 100%;
                left: 50%;
                right: 0;
                margin: 0 auto;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                top: 50%;
                border-radius: 2rem;
                border: 1px solid #140e0e;
                background-color: #081921bd;
                &_wrapper {
                    width: 69%;
                    background-color: #f0e7e7;
                    position: absolute;
                    left: 50%;
                    right: 0;
                    margin: 0 auto;
                    top: 45%;
                    transform: translate(-50%, -50%);
                    height: 40vh;
                    border-radius: 1rem;
                    @include respond-below(xs) {
                        width: 100%;
                        height: 47vh;
                    }
                    &_h1 {
                        text-align: center;
                        margin-top: 1rem;
                        font-family: 'Montserrat-Bold';
                        font-size: 1.4rem;
                        color: #1d89bd;
                    }
                    &_span {
                        width: 75%;
                        text-align: center;
                        margin: 1.6rem auto;
                        @include respond-below(xs) {
                            width: 90%;
                            text-align: center;
                            margin: 1.6rem auto;
                            font-size: 1.1rem;
                        }
                    }
                    & .form_popup_container_wrapper_side_2_label {
                        position: absolute;
                        left: 10rem;
                        margin-top: 0.4rem;
                    }
                    & .form_popup_container_wrapper_side_2_input {
                        position: absolute;
                        left: 0;
                        right: 0;
                        width: 60%;
                        margin: 3rem auto;
                        @include respond-below(xs) {
                            width: 80%;
                        }
                    }
                    & .form_popup_container_wrapper_side_2_btn {
                        position: relative;
                        top: 10rem;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        @include respond-below(xs) {
                            top: 8.6rem;
                        }
                    }
                }
            }
        }
    }
}

#hidden {
    display: none;
    &_inn {
        display: none;
    }
}

.close {
    font-size: 4rem;
    z-index: 1000;
    position: fixed;
    top: -1rem;
    right: 7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    padding: 4rem;
    @include respond-below(xs) {
        top: -3rem;
        right: -2rem;
    }
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loading_container {
    background-color: rgba(16, 3, 3, 0.42);
    height: 55vh;
    width: 50vw;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 1rem;
    & span {
        position: fixed;
        font-size: 1.5rem;
        bottom: 10rem;
        text-align: center;
        left: 0;
        right: 0;
        color: #fff;
        font-family: 'Montserrat-Bold';
    }
}

.loader {
    color: #fff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    display: flex;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.success_dialog {
    background-color: #fff;
    height: 60vh;   
    width: 25vw;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 1rem;
    z-index: 100;

    @include respond-below(xs){
        // box-shadow: 0px 2px 6px red;
        height: 64vh;
        width: 90vw;
    }
    &_wrapper{
        &_sub_body{
            height: 42vh;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display:grid;
            place-items:center;
            @include respond-below(xs){
                height: 45vh;
            }
            &_content_body_btn{
                display: block;
                margin: 0 auto;
                padding: 1.2rem 3rem;
                font-size: 1.4rem;
                border-radius: 2rem;
                border: none;
            }
            &_content p{
                margin: 0 auto;
                position: relative;
                top: 2rem;
                color: #fff;
                font-size: 1.4rem;
                display: block;
                text-align: center;
                @include respond-below(xs){
                    padding: 0rem 2rem;
                    text-align: center;
                }
            }
            &_heading{
                font-size: 2.6rem;
                text-transform: uppercase;
                color: #fff;
                top: 3rem;
                position: absolute;
                font-family: Montserrat-Bold;
                letter-spacing: -1px;
                @include respond-below(xs){
                    font-size: 2.4rem;
                    text-transform: uppercase;
                    color: #fff;
                    top: 1.5rem;
                }
            }
        }
        &_sub_body_footer{
            height: 17vh;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            place-content: center;
            display: grid;
            
            &_btn{
            display: block;
            margin: 0 auto;
            padding: 1.5rem 8rem;
            font-size: 1.4rem;
            border-radius: 3.3rem;
            border: none;
            background-color: #1aa67d;
            color: #fff;
            &.error{
                background-color:#e14f4f;
            }
            }
            & p{
                width: 100%;
                margin: 0 auto;
                font-size: 1.3rem;
                position: relative;
                top: -1.6rem;
            }
        }
    }
    &.success{
        & .success_dialog_wrapper_sub_body{
            background-color: #1aa57e;
        }
        &.success_dialog{
            box-shadow: 0px 2px 6px #1aa67d;
        }
        & .success_dialog_wrapper_sub_body_footer_btn.error {
            display:none
        }
    }
    &.error{
        & .success_dialog_wrapper_sub_body{
            background-color: #e14f4f;
        }
        &.success_dialog{
            box-shadow: 0px 2px 6px #e14f4f;
        }
        & .success_dialog_wrapper_sub_body_footer_btn.success{
            display:none
        }
    }
}


.svg_err{
    width: 20vh;
    height: 13vh;
    display: block;
    margin: 3rem auto;
    top: 1rem;
    position: relative;
}
