@font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-bold";
    src: url("../assets/font/Montserrat-Bold.ttf");
}