@font-face {
    font-family: "Montserrat-Regular";
    src: url("../assets/font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-bold";
    src: url("../assets/font/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Efesto-italic";
    src: url("../assets/font/EfestoRegularItalic-Italic otf.otf");
}

@font-face {
    font-family: "Efesto-italic";
    src: url("../assets/font/EfestoRegularItalic-Italic ttf.ttf");
}

@font-face {
    font-family: "Efesto-Regular";
    src: url("../assets/font/Efesto-Regular Otf.otf");
}

@font-face {
    font-family: "Efesto-Regular";
    src: url("../assets/font/Efesto-Regular ttf.ttf");
}